header {
    padding: 1%;
    text-align: center;
    background-color: #E6006A;
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .chart-selection{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex; 
    align-items: center;
  }
  .chart-title{
    padding-left: 1%;
    font-size: 22px;
    margin-right: 1%;

  }
  .dropdown{
    margin-top: 5px;
  }

.dropdown-menu{
  font-size: 15px;
}


.btn-secondary {
  background-color: #E6006A;
  color: white; 
  border-color: #E6006A; 
}

.btn-secondary:hover {
  background-color: #FF5BA7; 
  border-color: #FF5BA7; 
}

.container{
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 33px; /* Prilagodite veličinu fonta po potrebi */
  font-weight: normal; /* Postavljanje debljine fonta na normalno, ukoliko želite ukloniti bold */
}
p{
  font-size: 20px;
  font-weight: normal;
}




  
  .wrapper {
    min-height: 100%;
  }

  .container-fluid{
    text-align: center;
    align-items: center;
  }

  .centerIt {
    /*width: 900px*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .chart-container {
    display: flex;
    justify-content: space-between;
  }


  #my_data {
    display: flex;
    flex: 0 0 70%; 
    justify-content: center;
  }
  
  #legend {
    position: relative;
    flex: 0 0 30%; /* Legenda zauzima 30% prostora */
    padding-left: 0; /* Dodan padding kako bi legenda bila odvojena od mape */
    margin-left: 30px;
    box-sizing: border-box; /* Dodano kako bi padding bio uključen u širinu elementa */
    width: 30%;
  }
  
  .legend {
    text-align: left; /* Poravnaj legendu prema lijevo */
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .tooltip { 
    position: absolute; 
    padding: 5px; 
    border-radius: 5px; 
    pointer-events: none; 
  }


    /*LOLLIPOP*/
    #selectButton {
      padding: 4px;
      width: 30%;
    }
  
  

  /*BUBBLE*/
  .bubbles { 
    stroke-width: 2px; 
    stroke: white; 
  }
  .bubbles:hover { 
    stroke: black; 
  }


/*WORLDMAP*/
  #worldmap {
    width: 100%;
    height: auto;
  }
  
  .map-container {
    border: 3px solid black;
    margin-left: 19%; /* Dodajte marginu na lijevoj strani */

  }

 